<div id="modalOverlay"></div>
<div class="container" id="popup">
  <br>
  <div class="row">
    <h4 style="text-align:center;width:90%;margin:auto">Are you sure you want to delete this post?</h4>
  </div>
  <div class="row">
    <br>
    <br>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
      <button class="btn btn-success" ng-click="confirm_yes()">Yups</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger" ng-click="confirm_no()">Nopes</button>
    <div>
  </div>
  <br>
</div>
