<!DOCTYPE html>
<html ng-app='signUpApp' ng-controller="signUpCtrl">
  <head>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/shared_services.js"></script>
    <script type="text/javascript" src="js/signup_app.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <div ng-Include="'site_navbar.html'"></div>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-6 thin-border">
          <form class="form" ng-submit="signup()">
            <div data-ng-show="show_alert" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" aria-label="Close" data-ng-click = "show_alert = false">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{ alert_message }}
            </div>
            <div class="form-group">
              <label>Username:</label>
              <input type="text" class="form-control login-text-field"
               ng-model="signupForm.username" required>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" class="form-control login-text-field"
               ng-model="signupForm.password" required>
            </div>
            <div class="form-group">
              <label>Confirm Password:</label>
              <input type="password" class="form-control login-text-field"
               ng-model="signupForm.conf_password" required>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">Sign Up!</button>
              <div id="after-submit"></div>
              <a href="login.html">Login</a>
            </div>
          </form>
        </div>
      </div>
      <br>
    </div>
  </body>
</html>
